<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Exercise for Missbeez.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>464BC6691C709C420098594B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>464BC67D1C709C430098594B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>464BC6881C709C430098594B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
